body {
  background-color: #333;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #444;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}